$scheme:  'borland-dark';
$base03:  #ffffff;
$base02:  #f3f3f3;
$base01:  #a8a8a8;
$base00:  #575757;
$base0:   #a8a8a8;
$base1:   #0000a8;
$base2:   #006078;
$base3:   #004078;
$yellow:  #ffff57;
$orange:  #ffa857;
$red:     #ff5757;
$magenta: #ff57ff;
$violet:  #a800a8;
$blue:    #5757ff;
$cyan:    #00a8a8;
$green:   #57ff57;
