$scheme:  'crt-light';
$base03:  #ffbf00;
$base02:  #e6aa00;
$base01:  #cc9600;
$base00:  #b38200;
$base0:   #996e00;
$base1:   #805a00;
$base2:   #002200;
$base3:   #001100;
$yellow:  #996e00;
$orange:  #b38200;
$red:     #996e00;
$magenta: #805a00;
$violet:  #cc9600;
$blue:    #b38200;
$cyan:    #805a00;
$green:   #cc9600;
