$scheme:  'crt-dark';
$base03:  #00ff00;
$base02:  #00dd00;
$base01:  #00bb00;
$base00:  #009900;
$base0:   #007700;
$base1:   #005500;
$base2:   #002200;
$base3:   #001100;
$yellow:  #007700;
$orange:  #009900;
$red:     #007700;
$magenta: #005500;
$violet:  #00bb00;
$blue:    #009900;
$cyan:    #005500;
$green:   #00bb00;
