$scheme:  'rose-pine-light';
$base03:  #26233a;
$base02:  #555169;
$base01:  #575279;
$base00:  #6e6a86;
$base0:   #9893a5;
$base1:   #f2e9de;
$base2:   #fffaf3;
$base3:   #faf4ed;
$yellow:  #ea9d34;
$orange:  #d7827e;
$red:     #b4637a;
$magenta: #1f1d2e;
$violet:  #907aa9;
$blue:    #56949f;
$cyan:    #c5c3ce;
$green:   #286983;
