$scheme:  'rose-pine-dark';
$base03:  #d9d7e1;
$base02:  #f5f5f7;
$base01:  #e0def4;
$base00:  #817c9c;
$base0:   #59546d;
$base1:   #393552;
$base2:   #2a273f;
$base3:   #232136;
$yellow:  #f6c177;
$orange:  #ea9a97;
$red:     #eb6f92;
$magenta: #ecebf0;
$violet:  #c4a7e7;
$blue:    #9ccfd8;
$cyan:    #b9b9bc;
$green:   #3e8fb0;
