<style type="text/css">
    .palette {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .color-example {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 15ex;
      height: 15ex; 
      margin: 2ex;
      border-radius: 1ex;
      font-size: 1em;
      font-weight: bold;
      text-align: center;
      line-height: 1.2;
    }

    .color-example > div {
      width: 100%;
      height: 100%;
      border-radius: 5px;
    }

    .color-example > div:first-child {
      margin-bottom: 5px;
    }

    .color-example > div:last-child {
      margin-top: 5px;
    }
</style>
<div class="palette">
    <div class="color-example">
      <div class="background-base03"></div>
      <div>base03</div>
    </div>
    <div class="color-example">
      <div class="background-base02"></div>
      <div>base02</div>
    </div>
    <div class="color-example">
      <div class="background-base01"></div>
      <div>base01</div>
    </div>
    <div class="color-example">
      <div class="background-base00"></div>
      <div>base00</div>
    </div>
    <div class="color-example">
      <div class="background-base0"></div>
      <div>base0</div>
    </div>
    <div class="color-example">
      <div class="background-base1"></div>
      <div>base1</div>
    </div>
    <div class="color-example">
      <div class="background-base2"></div>
      <div>base2</div>
    </div>
    <div class="color-example">
      <div class="background-base3"></div>
      <div>base3</div>
    </div>
    <div class="color-example">
      <div class="background-yellow"></div>
      <div>yellow</div>
    </div>
    <div class="color-example">
      <div class="background-orange"></div>
      <div>orange</div>
    </div>
    <div class="color-example">
      <div class="background-red"></div>
      <div>red</div>
    </div>
    <div class="color-example">
      <div class="background-magenta"></div>
      <div>magenta</div>
    </div>
    <div class="color-example">
      <div class="background-violet"></div>
      <div>violet</div>
    </div>
    <div class="color-example">
      <div class="background-blue"></div>
      <div>blue</div>
    </div>
    <div class="color-example">
      <div class="background-cyan"></div>
      <div>cyan</div>
    </div>
    <div class="color-example">
      <div class="background-green"></div>
      <div>green</div>
    </div>
</div>
