<div id="dark-mode-toggle">
  <label class="switch">
    <input id="dark-mode-checkbox" type="checkbox" onchange="toggleDarkMode()">
    <span class="slider round"></span>
  </label>
  <script>
function loadDarkMode() {
    var body = document.body;
    var checkbox = document.getElementById("dark-mode-checkbox");
    var darkMode = localStorage.getItem("darkMode");
    if (darkMode == "true") {
        checkbox.checked = true;
        body.classList.add("dark-mode");
    }
}
function toggleDarkMode() {
    var element = document.body;
    element.classList.toggle("dark-mode");
    if (element.classList.contains("dark-mode")) {
        localStorage.setItem("darkMode", "true");
    } else {
        localStorage.setItem("darkMode", "false");
    }
}
loadDarkMode();
  </script>
</div>
