textarea.code-editor {
  font-family: monospace;
  white-space: pre;
  font-size: 14px;
  line-height: 1.25;
  padding: 1ex;
  border-radius: 1ex;
  resize: none;
  outline: none;
  transition: border-color 0.3s;
}
