textarea.code-editor {
  white-space: pre;
  font-family: monospace; font-size: 14px; line-height: 1.25;
  margin: 1ex; padding: 1ex;
  border: 0.5ex solid transparent;
  border-radius: 0.3ex;
  resize: none; outline: none;
  transition: border-color 0.3s;
}
