<div id="color-scheme-click-away" onmousedown="toggleColorSchemeSelector()">
</div>
<div id="color-scheme-panel">
  <div class="color-scheme-panel-control noselect">
    <label class="switch">
      <input id="dark-mode-checkbox" type="checkbox" onchange="toggleDarkMode()">
      <span class="slider round"></span>
      <span class="content-checked">🌞</span>
      <span class="content-unchecked">🌛</span>
    </label>
    <button class="color-scheme-button-collapse color-scheme-button" onclick="toggleColorSchemeSelector()">
      <div class="buttonIcon">
        <i class="fa-solid fa-angles-up"></i>
      </div>
    </button>
    <button class="color-scheme-button-expand color-scheme-button" onclick="toggleColorSchemeSelector()">
      <div class="button9">
        <div class="background-red"></div>
        <div class="background-orange"></div>
        <div class="background-yellow"></div>
        <div class="background-magenta"></div>
        <div class="background-base03"></div>
        <div class="background-green"></div>
        <div class="background-violet"></div>
        <div class="background-blue"></div>
        <div class="background-cyan"></div>
      </div>
    </button>
  </div>
  <div class="color-scheme-panel-selector">
{% for theme in site.data.color-controls.layouts.default.selectable %}
{%   assign scheme = theme|split: '-' | first %}
{%   assign mode = theme|split: '-' | last %}
{%   assign label = site.data.color-controls.schemes[scheme][mode]["label"] %}
    <label>
      <button class="color-scheme-button" onclick="selectColorScheme('{{scheme}}', '{{mode}}');">
        <div class="button9 {{scheme}}-{{mode}}-background-base3">
          <div class="{{scheme}}-{{mode}}-background-red"></div>
          <div class="{{scheme}}-{{mode}}-background-orange"></div>
          <div class="{{scheme}}-{{mode}}-background-yellow"></div>
          <div class="{{scheme}}-{{mode}}-background-magenta"></div>
          <div class="{{scheme}}-{{mode}}-background-base03"></div>
          <div class="{{scheme}}-{{mode}}-background-green"></div>
          <div class="{{scheme}}-{{mode}}-background-violet"></div>
          <div class="{{scheme}}-{{mode}}-background-blue"></div>
          <div class="{{scheme}}-{{mode}}-background-cyan"></div>
        </div>
      </button><br>
      {{ label }}
    </label>
{% endfor %}
  </div>
</div>
<script language="javascript">
/* callbacks for color scheme changes */
const colorControlCallbacks = {};

/* defaults */
const colorControlDefaultScheme = "solarized";
const colorControlDefaultMode = "auto";

/* avoid race conditions */
let colorControlReady = false;

function getColorScheme() {
  /* get color scheme from local storage.
   * returns e.g. "solarized"
   */
  var colorSchemeSet = localStorage.getItem("colorSchemeSet");
  if (colorSchemeSet != "true") {
    setColorScheme(colorControlDefaultScheme);
  }
  var colorScheme = localStorage.getItem("colorScheme");
  return colorScheme;
}

function setColorScheme(colorScheme) {
  /* saves the given color scheme to local storage */
  localStorage.setItem("colorScheme", colorScheme);
  localStorage.setItem("colorSchemeSet", "true");
}

function getColorMode() {
  /* get color mode from local storage.
   * returns one of "light", "dark"
   */
  var colorModeSet = localStorage.getItem("colorModeSet");
  if (colorModeSet != "true") {
    setColorMode(colorControlDefaultMode);
  }
  var colorMode = localStorage.getItem("colorMode");
  if (colorMode == "auto") {
    colorMode = detectDarkModePreference();
  }
  return colorMode;
}

function setColorMode(colorMode) {
  /* saves the given color mode to local storage */
  localStorage.setItem("colorMode", colorMode);
  switch (colorMode) {
    case "auto":
    case "light":
    case "dark":
      localStorage.setItem("colorModeSet", "true");
      break;
    default:
      localStorage.setItem("colorModeSet", "false");
  }
}

function detectDarkModePreference() {
  /* detect browser dark-mode preference,
   * returns "light" or "dark"
   */
  if (window.matchMedia && window.matchMedia('(prefers-color-scheme: dark)').matches) {
      return "dark";
  } else {
    return "light";
  }
}

function setDarkModeCheckbox(checked) {
  /* updates the state of the dark-mode checkbox */
  var checkbox = document.getElementById("dark-mode-checkbox");
  checkbox.checked = checked;
}

function applyColorScheme(scheme, mode) {
  /* applies the given color scheme and mode to the body element */
  const previousScheme = localStorage.getItem("colorSchemeApplied");
  const targetScheme = scheme+"-"+mode;
  document.body.classList.remove(previousScheme);
  document.body.classList.add(targetScheme);
  localStorage.setItem("colorSchemeApplied", targetScheme);
}

function selectColorScheme(scheme, mode) {
  /* Called when the drown-down is changed */
  if (colorControlReady == true) {
    colorControlReady = false;
    setColorScheme(scheme);
    setColorMode(mode);
    applyColorScheme(scheme, mode);
    setDarkModeCheckbox(mode == "dark");
    triggerColorControlCallbacks();
    colorControlReady = true;
  }
}

function toggleColorSchemeSelector() {
  /* Expands or collapses the color scheme selector */
  document.body.classList.toggle("color-scheme-selector-open");
}

function toggleDarkMode() {
  /* Called when the dark-mode toggle is changed */
  if (colorControlReady == true) {
    if (getColorMode() == "light") {
      selectColorScheme(getColorScheme(), "dark");
    } else {
      selectColorScheme(getColorScheme(), "light");
    }
  }
}

function registerColorControlCallback(key, callback) {
  /* registers a callback that is called when the color scheme changes */
  colorControlCallbacks[key] = callback;
}

function triggerColorControlCallbacks() {
  /* triggers all registered color control callbacks */
  for (var key in colorControlCallbacks) {
    setTimeout(colorControlCallbacks[key], 100);
  }
}

function initColorScheme() {
  /* Loads color scheme from local storage and applies it */
  var scheme = getColorScheme();
  var mode = getColorMode();
  applyColorScheme(scheme, mode);
  setDarkModeCheckbox(mode == "dark");
  colorControlReady = true;
  setTimeout(() => {
    // subsequent color scheme changes may be animated
    document.body.classList.add("colors-loaded");
  }, 100);
}

initColorScheme();
</script>
