<div id="{{ include.id }}-wrapper" class="code-editor">
<!-- The code editor will be rendered here via resetCodeEditor_{{ include.id }} -->
</div>
<script>
function renderTemplate_{{ include.id }}(content) {
  /* Returns a string of HTML describing a textarea for a code-editor */
  return `<textarea is="highlighted-code"
          id="{{ include.id }}"
          cols="{{ include.cols | default: 80 }}"
          rows="{{ include.rows | default: 12 }}"
          language="{{ include.language | default: 'auto' }}"
          class="code-editor text-base0 background-base3"
          auto-height>
${content}
</textarea>
`;
}

function resetCodeEditor_{{ include.id }}(content) {
  const wrapper = document.getElementById('{{ include.id }}-wrapper');
  wrapper.replaceChildren();
  wrapper.innerHTML = renderTemplate_{{ include.id }}(content);
}

// Render initial state
resetCodeEditor_{{ include.id }}(`{{ include.content }}`);
</script>
<script type="module">
// Source: https://www.npmjs.com/package/highlighted-code
(async ({chrome, netscape}) => {
  // Import HighlightedCode to customize textareas
  //const {default: HighlightedCode} = await import('https://unpkg.com/highlighted-code');
  const {default: HighlightedCode} = await import('/assets/scripts/highlighted-code/min.js');
  // Map colour schemes to Highlight.js themes
  const schemeMap = {
{% assign modes = "light dark"|split: " " %}
{% for mode in modes %}
{%   for scheme in site.data.color-controls.layouts.default.enabled %}
{%     assign theme = site.data.color-controls.schemes[scheme][mode]["syntax"] %}
    "{{scheme}}-{{mode}}": "{{theme}}",
{%   endfor %}
{% endfor %}
  };
  // Setup the Callback for colour scheme changes
  var Callback = function() {
    const colorSchemeApplied = localStorage.getItem('colorSchemeApplied');
    const theme = schemeMap[colorSchemeApplied]||"base16/"+colorSchemeApplied;
    console.log("{{include.id}} callback theme: "+theme);
    HighlightedCode.changeTheme(theme);
  }
  registerColorControlCallback("HighlightedCode", Callback);
  const colorSchemeApplied = localStorage.getItem('colorSchemeApplied');
  const theme = schemeMap[colorSchemeApplied]||"base16/"+colorSchemeApplied;
  console.log("{{include.id}} callback theme: "+theme);
  HighlightedCode.useTheme(theme);
})(self);
</script>
