$base03:    #002b36;
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
$base1:     #93a1a1;
$base2:     #eee8d5;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;
///////////////////////////////////////////////////////////////////////////////
.background-base03 { background-color: $base03; }
.background-base02 { background-color: $base02; }
.background-base01 { background-color: $base01; }
.background-base00 { background-color: $base00; }
.background-base0 { background-color: $base0; }
.background-base1 { background-color: $base1; }
.background-base2 { background-color: $base2; }
.background-base3 { background-color: $base3; }
.background-yellow { background-color: $yellow; }
.background-orange { background-color: $orange; }
.background-red { background-color: $red; }
.background-magenta { background-color: $magenta; }
.background-violet { background-color: $violet; }
.background-blue { background-color: $blue; }
.background-cyan { background-color: $cyan; }
.background-green { background-color: $green; }
.text-base03 { color: $base03; }
.text-base02 { color: $base02; }
.text-base01 { color: $base01; }
.text-base00 { color: $base00; }
.text-base0 { color: $base0; }
.text-base1 { color: $base1; }
.text-base2 { color: $base2; }
.text-base3 { color: $base3; }
.text-yellow { color: $yellow; }
.text-orange { color: $orange; }
.text-red { color: $red; }
.text-magenta { color: $magenta; }
.text-violet { color: $violet; }
.text-blue { color: $blue; }
.text-cyan { color: $cyan; }
.text-green { color: $green; }
