// z-index layers
$zNormal: 1;
$zColorSchemeWrapper: 9;
$zColorSchemePanel: 10;
$zTop: 10;

// standard disable selection class
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  margin: 0; padding: 0;
  font-size: 24px;
  font-family: "Merriweather", serif;
  z-index: $zNormal;

  /* First transition to color scheme should be immediate */
  -webkit-transition: 0;
  transition: 0;
}

body.colors-loaded {
  /* Later transitions to color schemes can be smooth */
  -webkit-transition: .4s;
  transition: .4s;
}

div#color-scheme-click-away {
  /* A deadzone to catch click-away events */
  position: fixed; top: 0; right: 0; z-index: $zColorSchemeWrapper;
  width: 0; height: 0;
}

.color-scheme-selector-open div#color-scheme-click-away {
  position: fixed; top: 0; right: 0;
  width: 100vw; height: 100vh;
}

div#color-scheme-panel {
  /* UI for selecting color schemes */
  position: fixed; top: 0; right: 0; z-index: $zColorSchemePanel;
  width: 9.25ex; height: 4.25ex;
  min-width: 9.25ex; min-height: 4.25ex;
  overflow: hidden; text-align: right;
  margin: 0; padding: 0;
  border-left: 1px solid; border-bottom: 1px solid;
  border-bottom-left-radius: 0.3ex;
  -webkit-transition: .4s;
  transition: .4s;
}


.color-scheme-selector-open div#color-scheme-panel {
  width: 100%; height: 15.5ex;
  min-width: 100%; min-height: 15.5ex;
  border-radius: 0ex;
  -webkit-transition: .4s;
  transition: .4s;
}

.color-scheme-button {
  display: inline-block;
  margin: 0; padding: 0;
  width: 6ex; height: 6ex;
  border-radius: 0.5ex;
  overflow: hidden;
  cursor: pointer;
}

.color-scheme-button>div {
  width: 100%; height: 100%;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
}

.color-scheme-button div.buttonIcon {
}

.color-scheme-button div.button9 {
}

.color-scheme-button .button9 div {
  width: 26%; height: 26%;
  border-radius: 1ex;
}

body div#color-scheme-toggle {
    position: fixed;
    top: 1em;
    right: 1em;
}

button.color-scheme-button-collapse {
  visibility: hidden;
}

.color-scheme-selector-open button.color-scheme-button-expand {
  visibility: hidden;
}

.color-scheme-selector-open button.color-scheme-button-collapse {
  visibility: visible;
}

.color-scheme-panel-control {
  display: block;
  font-size: 1.3em;
}

.color-scheme-panel-control label {
  position: absolute;
  top: 0.75ex;
  right: 3.5ex;
}

.color-scheme-panel-control button {
  position: absolute;
  top: 0.5ex; right: 0.5ex;
  width: 1.25em; height: 1.25em;
  cursor: pointer;
}

.color-scheme-panel-selector {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  margin: 0; padding: 0 0.5ex;
  margin-top: 5ex;
  overflow-x: auto; overflow-y: hidden; white-space: nowrap;
  vertical-align: bottom;
}

.color-scheme-panel-selector label {
  display: inline-block;
  margin: 0; padding: 0.5ex;
  margin-bottom: 0.2ex; padding-bottom: 0ex;
  vertical-align: top; text-align: center;
  font-size: 66%;
  font-style: Italic;
  width: 9.5ex; height: auto;
  white-space: wrap;
  border-radius: 1ex;
  border: 0.25ex dashed transparent;
  cursor: pointer;
}

.color-scheme-panel-selector > label > button {
  width: 8ex; height: 8ex;
  border-radius: 1.25ex;
}

.color-scheme-panel-selector > label > div {
  margin: 0; padding: 0.5ex;
  font-size: 90%;
  text-align: right;
}

body>header {
  max-width: 45em;
  margin: 0 auto;
  padding: 1ex;
  border-radius: 1ex;
  line-height: 1.5;
}

body>header a {text-decoration: none;}
body>header a:hover {text-decoration: underline;}

body>header div#site-heading {
  display: inline-block;
  font-size: 1.5em;
  line-height: 1;
}

body>header div#site-heading h1 {
    font-size: 1.5em;
    margin: 0 1ex;
    padding: 0;
    font-style: italic;
}
body>header div#site-heading p {
    text-align: right;
    font-weight: bold;
    font-size: 0.5em;
    font-style: italic;
    margin: 0;
    padding: 0;
    padding-right: 2em;
}

body>header nav {
    margin: 0;
    padding: 0;
    display: block;
    text-align: left;
    border-top: 1px solid;
}

body>header nav a.github{
  float: right;
  position: relative;
  top: 4ex;
  text-decoration: none;
}

body>header nav ul {
    list-style-type: none;
    display: Inline-Block;
    margin: 0;
    padding: 0 1ex;
}

body>header nav ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
}

body>header nav ul li:before {
  content: "\00a0/\00a0";
}

body>header nav ul li:after{
  content: "\00a0\00a0";
}

body>main {
  max-width: 45em;
  margin: 0 auto; padding: 1ex;
  border-radius: 1ex;
  line-height: 1.5;
}

article.post header h1 {
  margin: 0; padding: 0;
}

article.post > footer {
  font-size: 0.75em;
  text-align: center;
}

article.post .embed-right {
  width: 40%;
  float: right;
  margin: 0 0 1em 1em;
  border: 0.5ex solid;
  border-radius: 0.5ex;
}

ul.socials {
  list-style-type: none;
  display: inline-block;
  margin: 1em; padding: 0;
}

ul.socials li {
  display: inline-block;
  margin: 0 1ex; padding: 0;
}
