<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    {% include head_default.html %}
  </head>
{% if page.class %}
  <body class="{{ page.class }}">
{% else %}
  <body>
{% endif %}
    {% include widget_dark-mode-toggle.html %}
    <header>
      {% include widget_site-heading.html %}
      <nav>
        <ul>
          <li><a class="page-home" href="{{ "/" | relative_url }}">Home</a></li>
          <li><a class="page-about" href="{{ "/about" | relative_url }}">About</a></li>
        </ul>
      </nav>
    </header>
    <main id="content">
    {{ content }}
    </main>
    <footer>
        <p>&copy; {{ site.time | date: "%Y" }} <a href="https://github.com/QuiteClose/quiteclose.github.io">@QuiteClose</a></p>
    </footer>
  </body>
</html>
